@model ChangePasswordViewModel

<form method="post" asp-controller="Manage" asp-action="ChangePassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-4">
        <div class="col-md-12 col-lg-4">
            <label asp-for="OldPassword"></label>
            <input class="form-control" asp-for="OldPassword">
        </div>
        <div class="col-md-6 col-lg-4">
            <label asp-for="NewPassword"></label>
            <input class="form-control" asp-for="NewPassword">
        </div>
        <div class="col-md-6 col-lg-4">
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Alterar senha</button>
        </div>
    </div>
</form>