@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row user">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="user-img" src="https://openclipart.org/download/247320/abstract-user-flat-4.svg">
                <h4>@Model.Username</h4>
                <p>@Model.Email</p>
            </div>
            <div class="cover-image"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="tile p-0">
            <ul class="nav flex-column nav-tabs user-tabs">
                <li class="nav-item"><a class="nav-link" href="#user-settings" data-toggle="tab">Configurações</a></li>
                <li class="nav-item"><a class="nav-link" href="#user-changepassword" data-toggle="tab">Trocar senha</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="user-settings">
                <div class="tile user-settings">
                    <h4 class="line-head">Settings</h4>
                    <form>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label>First Name</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-md-4">
                                <label>Last Name</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-4">
                                <label>Email</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-md-8 mb-4">
                                <label>Mobile No</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-md-8 mb-4">
                                <label>Office Phone</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-md-8 mb-4">
                                <label>Home Phone</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i> Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="user-changepassword">
                <div class="tile user-settings">
                    <h4 class="line-head">Trocar senha</h4>
                    @Html.Partial("ChangePassword", new ChangePasswordViewModel())
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
